@CHARSET "utf-8";

*{
	direction: rtl;
	font-family: tahoma !important;
	word-wrap: break-word;
}

body{
	background-color: #e3e3e3;
}

.main-menu{
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid white;
	background-color: black;
	color: white;
	max-width: 100%;
}
.main-menu a{
	font-size: 120%;
	padding: 1em;
	color: inherit;
}
.main-menu a:hover{
	color: gray;
}